.productos-container{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-inline: 11rem;
  flex-wrap: wrap;
  row-gap: 3em;
  padding-bottom: 6rem;
  padding-top: 3em;
  min-height: 30rem;
}

.container{
  background-color: blanchedalmond;
}